body {
  color:yellow;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 19px;
}
h1 {
  font-size: 40px;
  text-align: center;
  background-color: black;
}
.Ja img{
  width: 50%;
  border-radius: 50%;
  margin:30%;
}

 .menu li {
  font-size: 30px;
  display:inline-block;
  background-color: yellow;
  padding-block: 5px;
  border-radius: 8px;
  
  
 }

   .menu a {
    color:black;
    
    
    
   }

   .menu{
    text-align: right;
    
   }

   h2,h3,.footer {
    font-weight: bold;
    font-size: 38px;
    background-color: black;
   }
    
 .box {
    text-align: center; 
    font-weight: bold;
    margin-left: 70%;
    background-color:black;
    margin-right: 10px;
    
   }
   .box1 {
    text-align: left;
    font-weight: bold;
    background-color: black;
    margin-left:70%;
  margin-right: 10px;
  
   } 
   .box2 {
    text-align: left;
    font-weight: bold;
    background-color: black;
    margin-left: 70%;
    margin-right: 10px;
    
    
   }
  .foto img {
    /*width: 300px;
    height: 200px; priklad na skusanie zapisu velkosti*/
    width: 15%;
   padding: 10px ;
    
  }

.nadpis4 h2 {
  text-align: center;
}
 
 .menu a:hover {
    background-color:azure;
    
  }
  .menu a:focus{
    background-color:burlywood;
  }
    
 .nadpis5  {
  text-align: center;
  background-color: yellow;
  color: black;
  padding-bottom: 5px;
 }
 .box3 img {
  background-color: yellow;
  width: 40px;
 
}

  .box4 img {
    background-color: yellow;
    width:38px;
  }
   
 .paticka{
  text-align: center;
  background-color: yellow;
  color: black;
  font-style: italic;
  font-size: 20px;
  padding:3%;

 }

 