body {
  color:yellow;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 19px;
}
h1 {
  font-size: 40px;
  text-align: center;
  background-color: black;
  border-radius: 8px;
   box-shadow: inset 0 0 10px yellow;
}
.Ja img{
  width: 50%;
  border-radius: 50%;
  margin:20px;
}

 .menu li {
  font-size: 15px;
  display:flex;
  list-style: none;
   box-shadow: inset 0 0 10px black;
  background-color: yellow;
  padding-block: 20px;
  border-radius: 8px;
  padding:10px;
  
  
 }

   .menu a {
    color:black;
    
    
    
   }

   .menu{
    text-align: right;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding:20px;
    
   }

   h2,h3,.footer {
    font-weight: bold;
    font-size: 38px;
    background-color: black;
      border-radius: 8px;
   box-shadow: inset 0 0 10px yellow;
   }
    

   .box1 , .box2 , .box {
    
    text-align: left;
    font-weight: bold;
    background-color: black;
    padding:10px;
    gap:20px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px yellow;
  
   } 
    
      
           
   
   

    @media screen and (min-width:600px){
 .container{
  display: flex;
}
 .box1 , .box2 , .box {
  flex:1;
}

 .menu li {
  display:inline-block;
  gap:10px;
  padding:10px;
  list-style: none;
 }
}


  .foto img {
    /*width: 300px;
    height: 200px; priklad na skusanie zapisu velkosti*/
    width: 15%;
   padding: 10px ;
    
  }

.nadpis4 h2 {
  text-align: center;
}
 
 .menu a:hover {
    background-color:azure;
    
  }
  .menu a:focus{
    background-color:burlywood;
  }
    
 .nadpis5  {
  text-align: center;
  background-color: yellow;
  color: black;
  padding-bottom: 5px;
    border-radius: 8px;
  box-shadow: inset 0 0 10px  black;
  
 }
 .box3 img {
  background-color: yellow;
  width: 40px;
 
}

  .box4 img {
    background-color: yellow;
    width:38px;
  }
   
 .paticka{
  text-align: center;
  background-color: yellow;
  color: black;
  font-style: italic;
  font-size: 20px;
  padding:10px;
    border-radius: 8px;
  box-shadow: inset 0 0 10px black;

 }

 